.preview__section {
  padding: 0px 0 80px;
  background-image: url(../assets/images/bg-form.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.preview__section-container {
  padding-top: 80px !important;
}

.preview__container {
  padding: 8px;
  background-image: linear-gradient(-90deg, #00faaf, #421ae4);
  border-radius: 20px;
  box-shadow: 0px 18px 33px rgba(0, 0, 0, 0.25);
}

.preview__content {
  position: relative;
  padding: 60px 15px 30px;
  background: #ffffff;
  border-radius: 20px;
  height: 750px;
}

.preview__pdf {
  max-height: 100%;
  overflow: hidden auto;
  padding: 0 15px;
}

.preview__pdf img {
  margin-bottom: 20px;
  width: 100%;
}

.preview__text {
  padding: 0 15px;
  line-height: 1.3em !important;
}

.preview__btn {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
}

.preview__btn-link {
  width: max-content;
  margin: auto;
  padding: 16px 55px 20px;
  background: #421ae4;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 80px;
  color: #ffffff !important;
  cursor: pointer;
  transition: 0.3s;
}

.preview__btn-link:hover {
  background: #3916c3;
}

.previe__btn-back {
  padding: 10px 32px 14px;
  background: #e9edf2;
  border-radius: 80px;
  color: #0b0b0d !important;
  font-weight: 600;
  transition: 0.3s;
}

.previe__btn-back:hover {
  background: #aab3c1;
}

@media (max-width: 768px) {
  .preview__section {
    background-size: cover;
  }

  .preview__btn-link {
    padding: 16px 20px 20px;
  }
}
