/* Footer */
.footer {
  padding: 85px 0 55px;
  background: #0b0b0d;
}

.footer__logo-text {
  margin-left: 5vw;
  color: #78787a !important;
  font-size: 12px;
}

.footer__nav .footer__nav-link {
  color: #78787a !important;
  transition: 0.2s;
}

.footer__nav-policy {
  margin-top: 25px;
}

.footer__nav-policy .footer__nav-link {
  color: #78787a !important;
  font-size: 12px;
  transition: 0.2s;
}

.footer__social {
  justify-content: flex-end !important;
  gap: 60px;
}

.footer__social svg path {
  transition: .2s;
}

.footer__social svg:hover path {
  fill: #fff;
}

.footer__nav .footer__nav-link:hover,
.footer__nav-policy .footer__nav-link:hover {
  color: #ffffff !important;
}

@media (max-width: 768px) {
  .footer .row {
    gap: 15px;
  }
  .footer__logo {
    text-align: center;
  }

  .footer__logo-text {
    margin-left: 0vw;
  }

  .footer__social {
    margin-top: 30px !important;
    padding: 0 30px !important;
    justify-content: space-between !important;
    gap: 0;
  }
}
